/*
* @Author: Gavin
* @Date:   2021-01-13 15:24:26
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 23:17:55
*/
/*
* @Author: Gavin
* @Date:   2021-01-13 15:26:16
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-13 23:54:12
*/
*,
*::after,
a::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/*
* @Author: Gavin
* @Date:   2021-01-13 18:16:34
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 22:14:14
*/
/*
* @Author: Gavin
* @Date:   2021-01-13 18:23:37
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-13 20:45:32
*/
body {
  font-family: 'Raleway', sans-serif; }

/*
* @Author: Gavin
* @Date:   2021-01-13 17:48:50
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 22:58:39
*/
.header__image {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  @media screen and (max-width: 31.25em) {
    .header__image {
      height: 100vh; } }
  .header__image-logo {
    height: 30vh;
    width: 30vh; }
  .header__image-text {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, transform .5s; }
    @media screen and (max-width: 50em) {
      .header__image-text {
        font-size: 4.5rem; } }
    @media screen and (max-width: 37.5em) {
      .header__image-text {
        font-size: 3.5rem; } }
    @media screen and (max-width: 28.125em) {
      .header__image-text {
        font-size: 2.6rem;
        line-height: 1.7; } }
    @media screen and (max-width: 21.875em) {
      .header__image-text {
        font-size: 2rem; } }
    @media screen and (max-width: 56.25em) and (orientation: landscape) {
      .header__image-text {
        font-size: 2rem; } }
    .header__image-text:hover {
      transform: translateY(-1rem); }
  .header__image-arrow {
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 5rem;
    fill: #f2af58;
    cursor: pointer;
    animation: bounce 1s linear infinite; }
    .header__image-arrow:hover {
      fill: #d47f10; }
    @media screen and (max-width: 56.25em) and (orientation: landscape) {
      .header__image-arrow {
        bottom: 2.5rem; } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0); } }

/*
* @Author: Gavin
* @Date:   2021-01-13 19:42:43
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 23:17:30
*/
.section-story {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  @media screen and (max-width: 62.5em) {
    .section-story {
      grid-template-rows: 1fr; } }
  .section-story__img {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem;
    align-items: center; }
    @media screen and (max-width: 62.5em) {
      .section-story__img {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        justify-items: center; } }
    .section-story__img img {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      border-radius: 1rem; }
      @media screen and (max-width: 62.5em) {
        .section-story__img img {
          width: 90%; } }
  .section-story__text {
    display: flex;
    padding: 3rem 8vw;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 62.5em) {
      .section-story__text {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        padding: 3rem 8vw; } }
    @media screen and (max-width: 31.25em) {
      .section-story__text {
        padding: 3rem 8vw; } }
    .section-story__text--biggest {
      font-size: 5rem;
      color: #f2af58;
      margin-bottom: 3rem; }
      @media screen and (max-width: 50em) {
        .section-story__text--biggest {
          font-size: 3.5rem; } }
    .section-story__text--big {
      font-size: 2.5rem;
      color: #d47f10;
      font-style: italic;
      margin-bottom: 2rem; }
      @media screen and (max-width: 50em) {
        .section-story__text--big {
          font-size: 2rem; } }
    .section-story__text--small {
      font-size: 2rem;
      line-height: 1.7; }
      @media screen and (max-width: 50em) {
        .section-story__text--small {
          font-size: 1.5rem; } }

/*
* @Author: Gavin
* @Date:   2021-01-15 16:25:43
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 22:39:59
*/
.section-menu {
  background-color: #fafafa;
  padding: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-menu-title {
    font-size: 5rem;
    margin-bottom: 10rem;
    color: #f2af58; }
  .section-menu-options {
    display: flex;
    justify-content: center;
    width: 60%; }
    .section-menu-options li {
      cursor: pointer;
      list-style: none;
      font-size: 2rem;
      padding: 0 3rem 2rem 3rem;
      border-bottom: 0.1rem solid #f2af58; }

.active {
  border-bottom: 0.2rem solid #d47f10 !important; }

/*
* @Author: Gavin
* @Date:   2021-01-13 17:42:29
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 23:15:15
*/
.navbar {
  display: flex;
  min-height: 12vh;
  align-items: center;
  justify-content: center;
  z-index: 900;
  transition: min-height .5s;
  position: fixed;
  background-color: #fff;
  width: 100%; }
  .navbar-mobile {
    display: none; }
  @media screen and (max-width: 43.75em) {
    .navbar {
      justify-content: space-between;
      padding-left: 3rem;
      padding-right: 3rem; }
      .navbar-mobile {
        display: block;
        z-index: 999; } }
  @media screen and (max-width: 31.25em) {
    .navbar {
      box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1); } }
  .navbar__logo {
    height: 11vh; }
  .navbar ul {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem; }
    @media screen and (max-width: 43.75em) {
      .navbar ul li:nth-child(3) {
        display: none; } }
    @media screen and (max-width: 31.25em) {
      .navbar ul {
        height: 88vh;
        flex-direction: column;
        top: 12vh;
        justify-content: space-around;
        background-color: #fff;
        width: 100%;
        left: 0;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        z-index: 900;
        position: fixed;
        padding-bottom: 10rem; }
        .navbar ul li {
          transform: translateX(-50rem);
          transition: transform 0.5s ease-in; } }
    .navbar ul li:not(:nth-child(3)) a:link,
    .navbar ul li:not(:nth-child(3)) a:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #f2af58;
      font-weight: 700;
      transition: all .1s; }
    .navbar ul li:not(:nth-child(3)) a:hover {
      border-bottom: 0.2rem solid #f2af58; }
  .navbar__checkbox {
    display: none; }
  .navbar__burger {
    display: none;
    z-index: 999; }
    @media screen and (max-width: 31.25em) {
      .navbar__burger {
        display: block; } }
  .navbar__icon {
    position: relative; }
    .navbar__icon, .navbar__icon::before, .navbar__icon::after {
      width: 2.5rem;
      height: .2rem;
      background-color: #f2af58;
      display: inline-block; }
    .navbar__icon::before, .navbar__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: transform .2s; }
    .navbar__icon::before {
      margin-top: -.8rem; }
    .navbar__icon::after {
      margin-top: .8rem; }
  .navbar__checkbox:checked + .navbar__button .navbar__icon {
    background-color: transparent; }
  .navbar__checkbox:checked + .navbar__button .navbar__icon::before {
    margin: 0;
    transform: rotate(45deg); }
  .navbar__checkbox:checked + .navbar__button .navbar__icon::after {
    margin: 0;
    transform: rotate(-45deg); }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/*
* @Author: Gavin
* @Date:   2021-01-13 18:23:37
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-13 20:45:32
*/
body {
  font-family: 'Raleway', sans-serif; }
