/*
* @Author: Gavin
* @Date:   2021-01-16 23:55:59
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-17 01:59:56
*/

.footer {
    width: 100%;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    padding: 3rem 15rem;
    justify-content: space-around;

    @media screen and (max-width: 62.5em) {
        padding: 3rem 8rem;
    }

    @media screen and (max-width: 50em) {
        padding: 3rem 2rem;
    }

    @media screen and (max-width: 31.25em) {
        flex-direction: column-reverse;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.6;

        &--big {
            font-size: 5rem;

            @media screen and (max-width: 50em) {
                font-size: 3.5rem;
            }
        }

        &--small {
            font-size: 3rem;

            @media screen and (max-width: 50em) {
                font-size: 2.5rem;
            }
        }

        @media screen and (max-width: 31.25em) {
            margin-bottom: 2rem;
        }
    }

    &__social-logo {
        font-size: 3rem;
        color: #000;
        cursor: pointer;
        padding-right: 3rem;

        &:hover {
            color: $white;
        }
    }
}

#mapid {
    height: 35rem;
    width: 35rem;
    z-index: 1;

    @media screen and (max-width: 50em) {
        height: 30rem;
        width: 30rem;
    }

    @media screen and (max-width: 37.5em) {
        height: 22rem;
        width: 22rem;
    }

    @media screen and (max-width: 31.25em) {
        height: 30rem;
        width: 30rem;
    }

    @media screen and (max-width: 20em) {
    	height: 22rem;
    	width: 22rem;
    }

}