/*
* @Author: Gavin
* @Date:   2021-01-13 18:23:37
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-16 16:50:13
*/

body {
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-size: 5rem;
    margin-bottom: 6rem;
    color: $color-primary;

    @media screen and (max-width: 50em) {
        font-size: 3.5rem;
    }
}