/*
* @Author: Gavin
* @Date:   2021-01-14 18:58:19
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-14 18:58:22
*/
.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}