/*
* @Author: Gavin
* @Date:   2021-01-13 18:16:34
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-15 22:14:14
*/

// COLORS
$color-primary: #f2af58;
$color-primary-dark: darken($color-primary, 20%);
$color-gray: #fafafa;
$white: #fff;