/*
* @Author: Gavin
* @Date:   2021-01-13 17:48:50
* @Last Modified by:   Gavin
* @Last Modified time: 2021-01-13 20:39:02
*/
.header {
	&__image {
		height: 88vh;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4)), url(../../images/header.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;

		&-text {
			color: $white;
			font-size: 6rem;
			width: 80rem;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			transition: all 2s ease;
		}
	}
}